<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VueToDoList</title>
    <link rel="stylesheet" href="./assets/css/style.css">
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <div id="app" class=" m-0 justify-content-center align-items-center">

        <form class="d-flex gap-3 m-5 justify-content-center">
            <div class="my-1">
                <input keyup.enter="addTask(newTask)" v-model="newTask" id="taskInput" type="text" placeholder="New Task">
            </div>
            <div>
                <button class="btn btn-primary" @click.prevent="addTask(newTask)">Add Task</button>
            </div>
        </form>

            <h1 class="text-center"><img src="./assets/img/Logo.png" alt="">ToDo List</h1>
            <div class="container d-flex justify-content-around">
                <ul>
                    <li v-for="(element,index) in todoTasks" class="d-flex">
                        <h5 :style="element.done ? 'text-decoration:line-through' : '' " @click="changeStatus(index)">
                            {{element.task}}
                        </h5>
                        <i @click.prevent="deleteTask(index)" class="fa-solid fa-circle-xmark text-danger py-1 px-2"></i>
                    </li>
                </ul>
            </div>
            
        </section>
    </div>
    <script src="./assets/js/main.js"></script>
</body>
</html>